@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #070707;
  --bgSoft: #000000;
  --text: white;
  --textSoft: #b7bac1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --primary-color: #2c3775;
  --secondary-color: #e8ecff;
  --auxiliary-color: #9f9f9f;

  --primary-gradient-start: #e8ecff;
  --primary-gradient-end: #ffffff;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Private Dashboard */
.dashboard {
  @apply h-screen w-[full] flex bg-gradient-to-b from-[#E8ECFF] to-[#FFFFFF];
}

.dashboard-container {
  @apply flex flex-col items-start justify-start h-full w-full;
}

/* Dashboard Page */
.dashboard-page {
  @apply flex items-start justify-start flex-wrap w-full gap-4 px-8;
}

.page-header {
  @apply w-full flex flex-col justify-center items-start mt-6 mb-2;
}

.page-header h2 {
  @apply text-2xl font-bold text-[var(--primary-color)];
}

.page-header p {
  @apply text-sm font-medium text-[var(--auxiliary-color)];
}

.dashboard-page .tracker-container {
  @apply flex items-center justify-start w-full gap-4;
}

.dashboard-page .history-summary {
  @apply bg-white shadow-md rounded-xl pt-2 overflow-y-auto overflow-x-hidden flex-1 h-[20rem];
}

.dashboard-page .history-summary span {
  @apply text-sm text-[var(--auxiliary-color)] font-medium ml-4;
}

.dashboard-page .history-summary table {
  @apply w-full max-h-[20rem];
}

.dashboard-page .history-summary::-webkit-scrollbar {
  width: 2px;
}

.dashboard-page .history-summary::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

.dashboard-page .history-summary thead {
  @apply border-b-[1px] border-[var(--secondary-color)];
}

.dashboard-page .history-summary thead th {
  @apply text-sm text-[var(--primary-color)] text-left font-semibold px-4 py-2;
}

.dashboard-page .history-summary tbody {
  @apply text-sm text-[var(--auxiliary-color)] text-left transition-all;
}

.dashboard-page .history-summary tbody td {
  @apply px-4 py-2;
}

.dashboard-page .history-summary tbody tr {
  @apply transition-all font-semibold;
}

.dashboard-page .history-summary tbody tr.income {
  @apply text-green-600;
}

.dashboard-page .history-summary tbody tr.expense {
  @apply text-red-600;
}

.dashboard-page .history-summary tbody tr.saving {
  @apply text-blue-600;
}

.dashboard-page .history-summary tbody tr.investment {
  @apply text-yellow-600;
}

.dashboard-page .history-summary tbody tr:hover {
  @apply bg-[var(--secondary-color)];
}

.dashboard-page .bar-chart {
  @apply bg-white rounded-xl shadow-md h-[20rem] p-2 w-2/3;
}

.dashboard-page .bar-chart span {
  @apply text-sm text-[var(--auxiliary-color)] font-medium ml-4;
}

.dashboard-page .bar-chart > div {
  @apply w-full h-[80%];
}

.dashboard-page .dashboard-filters {
  @apply flex items-end justify-between w-full border-b-[1px] pb-2 border-[var(--primary-color)];
}

.dashboard-page .dashboard-filters label {
  @apply text-lg font-semibold text-[var(--primary-color)];
}

.dashboard-page .dashboard-filters select {
  @apply bg-transparent border-none text-sm text-[var(--auxiliary-color)] font-medium px-2 cursor-pointer transition-all;
}

.dashboard-page .dashboard-filters select:hover {
  @apply text-[var(--primary-color)];
}

/* Dashboard Navigation Aside */
.navigation-aside {
  @apply bg-white text-[var(--primary-color)] h-screen shadow-xl transition-all duration-300 ease-in-out;
}

.navigation-aside__open {
  @apply w-[400px];
}

.navigation-aside__close {
  @apply w-[100px];
}

.navigation-header {
  @apply flex justify-between items-start font-bold m-6 text-[40px] italic;
}

.navigation-aside__close .navigation-header {
  @apply flex justify-center;
}

.navigation-links__container {
  @apply font-bold mt-6;
}

.navigation-links__container span {
  @apply font-light uppercase text-[var(--auxiliary-color)] text-sm tracking-[3px] p-6;
}

.navigation-links__container ul {
  @apply mt-2;
}

.navigation-links__container ul li {
  @apply font-medium py-2 pl-10 text-[var(--auxiliary-color)] transition-all;
}

.navigation-links__container ul li:hover {
  @apply text-[var(--primary-color)] bg-[var(--secondary-color)] border-l-4 border-[#2C3775];
}

.navigation-links__container ul li.active {
  @apply font-semibold bg-[var(--secondary-color)] text-[var(--primary-color)] border-l-4 border-[#2C3775];
}

.navigation-links__container ul li a {
  @apply flex justify-start items-center gap-4;
}

.navigation-links__container ul li svg {
  @apply w-6 h-6;
}

.toggle-nav__button {
  @apply bg-[var(--primary-color)] text-white p-2 rounded-md shadow-lg transition-all;
}

.toggle-nav__button:hover {
  @apply scale-105;
}

.toggle-nav__button svg {
  @apply w-7 h-7 bg-[var(--primary-color)] text-white;
}

/* Dashboard Navbar */
.dashboard-navbar {
  @apply w-full flex justify-between items-center my-6;
}

.dashboard-navbar__user h2 {
  @apply text-2xl font-bold text-[var(--primary-color)];
}

.dashboard-navbar__user p {
  @apply text-sm font-medium text-[var(--auxiliary-color)];
}

.dashboard-navbar__info svg {
  @apply text-[var(--primary-color)] w-6 h-6;
}

.dashboard-navbar__data {
  @apply flex justify-between items-center bg-white shadow-md px-2 py-2 rounded-full;
}

.dashboard-navbar__data .info {
  @apply flex w-full justify-between items-center gap-4;
}

.dashboard-navbar__data .info svg {
  @apply w-6 h-6 text-[var(--primary-color)];
}

.dashboard-navbar__data .searchbar {
  @apply w-full bg-[var(--secondary-color)] flex justify-start items-center gap-2 px-4 py-2 rounded-full;
}

.dashboard-navbar__data .searchbar input {
  @apply bg-[var(--secondary-color)] text-white;
}

.dashboard-navbar__data .navigation {
  @apply flex w-full justify-center items-center gap-4 px-4;
}

/* InfoBox Styles */
.infobox {
  @apply w-full bg-white rounded-xl shadow-md flex items-center justify-start px-4 mt-6 py-4 gap-4;
}

.infobox .icon {
  @apply w-12 h-12 rounded-full flex justify-center items-center;
}

.infobox .icon svg {
  @apply text-white stroke-[12px];
}

.infobox svg {
  @apply w-6 h-6;
}

.infobox .info {
  @apply flex flex-col items-start justify-center;
}

.infobox .info h3 {
  @apply text-sm font-medium text-[var(--auxiliary-color)];
}

.infobox .info span {
  @apply text-3xl font-bold text-[var(--primary-color)];
}

/* Create Page */
.create-page {
  @apply flex items-center justify-center flex-wrap w-full gap-4 px-8;
}

.entry-form {
  @apply flex flex-col items-start justify-center gap-4 mt-6;
}

.entry-form .form-group {
  @apply flex flex-col items-start justify-start gap-1 w-full;
}

.entry-form .form-group label {
  @apply text-lg font-semibold text-[var(--primary-color)];
}

.entry-form .form-group .type-selector {
  @apply p-1 rounded-lg bg-white flex justify-start items-center gap-2 shadow-md;
}

.entry-form .form-group .type-selector button {
  @apply px-4 py-1 rounded-lg bg-transparent text-[var(--auxiliary-color)] transition-all;
}

.entry-form .form-group .type-selector button:hover {
  @apply bg-gray-200 text-[var(--primary-color)];
}

.entry-form .form-group .type-selector button.active {
  @apply px-4 py-1 rounded-lg text-white;
}

.entry-form .form-group input,
.entry-form .form-group textarea,
.entry-form .form-group select {
  @apply px-4 py-2 text-left rounded-lg bg-white shadow-md text-[var(--primary-color)] w-full;
}

.entry-form .submit-button {
  @apply flex justify-center items-center gap-2 px-4 py-2 font-medium rounded-lg bg-[var(--primary-color)] text-white transition-all;
}

.entry-form .submit-button svg {
  @apply w-4 h-4;
}

.entry-form .submit-button:hover {
  @apply opacity-75;
}

.entry-form .cancel-button {
  @apply flex justify-center items-center gap-2 px-4 py-2 font-medium rounded-lg bg-red-600 text-white transition-all;
}

.entry-form .cancel-button:hover {
  @apply opacity-75;
}

/* History Page */
.history-page {
  @apply flex flex-col items-start justify-start flex-wrap w-full gap-4 px-8;
}

.history-page .main-history {
  @apply p-2 overflow-y-auto overflow-x-hidden w-full;
}

.history-page .main-history table {
  @apply w-full;
}

.history-page .main-history::-webkit-scrollbar {
  width: 2px;
}

.history-page .main-history::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

.history-page .main-history thead {
  @apply border-b-[1px] border-[var(--primary-color)];
}

.history-page .main-history thead th {
  @apply text-sm text-[var(--primary-color)] text-left font-medium px-4 py-2;
}

.history-page .main-history tbody {
  @apply text-sm text-[var(--primary-color)] text-left transition-all;
}

.history-page .main-history tbody td {
  @apply px-4 py-2;
}

.history-page .main-history tbody tr {
  @apply transition-all font-light;
}

.history-page .main-history tbody tr:hover {
  @apply bg-[var(--secondary-color)];
}

.history-page .main-history tbody td.edit-buttons {
  @apply flex justify-center items-center gap-4;
}

.history-page .main-history .edit-buttons a,
.history-page .main-history .edit-buttons button {
  @apply flex justify-center items-center gap-2 text-white py-2 px-4 rounded-lg transition-all font-semibold;
}

.history-page .main-history .edit-buttons a:hover,
.history-page .main-history .edit-buttons button:hover {
  @apply opacity-80;
}

.history-page .main-history .edit-buttons a.edit {
  @apply bg-blue-600;
}

.history-page .main-history .edit-buttons button.delete {
  @apply bg-red-600;
}

.history-page .filters-container {
  @apply flex items-end justify-between w-full;
}

.history-page .filter-by-date {
  @apply flex flex-col items-start w-[200px] justify-start;
}

.history-page .filter-by-date span {
  @apply text-sm;
}

.history-page .filter-by-date input {
  @apply px-4 py-1 bg-white shadow-lg rounded-lg w-full text-sm;
}

.history-page .filters-container .year {
  @apply text-lg text-[var(--primary-color)] font-bold;
}

.history-page .filters-container .date-container {
  @apply text-4xl text-[var(--primary-color)] font-bold;
}

/* Incomes Page */
.incomes-expenses__page {
  @apply flex items-center justify-center flex-wrap w-full gap-4 px-8;
}

.incomes-expenses__page h2 {
  @apply text-2xl font-bold text-[var(--primary-color)];
}

.incomes-expenses__page .line-chart {
  @apply w-full h-[400px] p-2 mb-10;
}

.incomes-expenses__page .line-chart text {
  @apply !text-[var(--primary-color)];
}

.incomes-expenses__page .line-chart span {
  @apply text-sm text-[var(--auxiliary-color)] font-medium ml-4;
}

.incomes-expenses__page .line-chart h2 {
  @apply text-4xl;
}

.incomes-expenses__page .line-chart h4 {
  @apply text-lg font-medium ml-4;
}

.incomes-expenses__page .history-table {
  @apply p-2 overflow-y-auto overflow-x-hidden w-full;
}

.incomes-expenses__page .history-table table {
  @apply w-full;
}

.incomes-expenses__page .history-table::-webkit-scrollbar {
  width: 2px;
}

.incomes-expenses__page .history-table::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

.incomes-expenses__page .history-table thead {
  @apply border-b-[1px] border-[var(--primary-color)];
}

.incomes-expenses__page .history-table thead th {
  @apply text-sm text-[var(--primary-color)] text-left font-medium px-4 py-2;
}

.incomes-expenses__page .history-table tbody {
  @apply text-sm text-[var(--primary-color)] text-left transition-all;
}

.incomes-expenses__page .history-table tbody td {
  @apply px-4 py-2;
}

.incomes-expenses__page .history-table tbody tr {
  @apply transition-all font-light;
}

.incomes-expenses__page .history-table tbody tr:hover {
  @apply bg-[var(--secondary-color)];
}

.incomes-expenses__page .history-table tbody td.edit-buttons {
  @apply flex justify-center items-center gap-4;
}

.incomes-expenses__page .history-table .edit-buttons a,
.incomes-expenses__page .history-table .edit-buttons button {
  @apply flex justify-center items-center gap-2 text-white py-2 px-4 rounded-lg transition-all font-semibold;
}

.incomes-expenses__page .history-table .edit-buttons a:hover,
.incomes-expenses__page .history-table .edit-buttons button:hover {
  @apply opacity-80;
}

.incomes-expenses__page .history-table .edit-buttons a.edit {
  @apply bg-blue-600;
}

.incomes-expenses__page .history-table .edit-buttons button.delete {
  @apply bg-red-600;
}

/* Edit Page */
.edit-page {
  @apply flex items-center justify-center flex-wrap w-full gap-4 px-8;
}

/* Settings Page */
.settings-page {
  @apply flex items-center justify-center flex-wrap w-full gap-4 px-8;
}

/* Loading */
@keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }

  10.5% {
    left: 0;
    top: 0;
  }

  12.5% {
    left: 32px;
    top: 0;
  }

  23% {
    left: 32px;
    top: 0;
  }

  25% {
    left: 64px;
    top: 0;
  }

  35.5% {
    left: 64px;
    top: 0;
  }

  37.5% {
    left: 64px;
    top: 32px;
  }

  48% {
    left: 64px;
    top: 32px;
  }

  50% {
    left: 32px;
    top: 32px;
  }

  60.5% {
    left: 32px;
    top: 32px;
  }

  62.5% {
    left: 32px;
    top: 64px;
  }

  73% {
    left: 32px;
    top: 64px;
  }

  75% {
    left: 0;
    top: 64px;
  }

  85.5% {
    left: 0;
    top: 64px;
  }

  87.5% {
    left: 0;
    top: 32px;
  }

  98% {
    left: 0;
    top: 32px;
  }

  100% {
    left: 0;
    top: 0;
  }
}

.loader {
  position: relative;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}

.loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  margin: 1px;
  border-radius: 0px;
  background: var(--primary-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
  animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
  animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
  animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
  animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
  animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
  animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
  animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
  animation-delay: -10s;
}

/* Loading Component */
.loading-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 20px;
  width: 30px;
}

.loading-component {
  background: var(--primary-color);
  height: 2px;
  width: 30px;
  border-radius: 10px;
  position: relative;
  animation: loading-component-animation 2s ease-in-out infinite;
}

.loading-component::before,
.loading-component::after {
  content: "";
  position: absolute;
  height: 2px;
  border-radius: 10px;
  left: 20px;
  animation: loading-component-animation 2s ease-in-out infinite;
}

.loading-component::before {
  background: var(--primary-color);
  opacity: 0.8;
  top: 10px;
  width: 10px;
}

.loading-component::after {
  background: var(--primary-color);
  opacity: 0.6;
  top: -10px;
  width: 20px;
}

@keyframes loading-component-animation {
  0% {
    transform: translateX(10px) scale(1);
  }

  50% {
    transform: translateX(-10px) scale(1.1);
  }

  100% {
    transform: translateX(10px) scale(1);
  }
}

/* Global Messages */
.not-found__message {
  @apply mt-6 ml-6 text-sm text-[var(--primary-color)] font-light;
}

/* Automatize Page */
.automatize-page {
  @apply flex items-center justify-start flex-wrap w-full gap-4 px-8;
}

.automatize-page .form-calendar__container {
  @apply flex justify-between items-start gap-10;
}
