.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  background-color: var(--bgSoft);
  padding: 50px;
  border-radius: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.input {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border: 2px solid #2e374a;
  border-radius: 5px;
  background-color: var(--bg);
  color: var(--text);
}

.button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: darkolivegreen;
  color: var(--text);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.h1 {
  font-weight: bold;
  font-size: x-large;
  color: var(--textSoft);
}

.errorMessage {
  color: red;
  font-size: 16px;
  margin-bottom: 10px;
}

.orText {
  text-align: center;
  color: gray;
}

.registerLink {
  text-align: center;
  color: var(--textSoft);
  text-decoration: underline;
}
